# Symfony3
app/config/parameters.yml
# bin
bin/*
!bin/console
!bin/symfony_requirements
# vendor
vendor/
# var
var/logs/*
var/cache/*
var/sessions/*
var/bootstrap.php.cache
# web
web/bundles/
# Project PhpStorm (should be in gitignore global)
.idea/


